/node_modules
/vendor
/public/build
/storage/app/private
.env
.env.example
.php-cs-fixer.cache
.php-cs-fixer.php
.git/
.github/
.gitignore
.dockerignore
Dockerfile
docker-compose.yaml
README.md
Todo.md